@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.Palette {
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 80%;
}


